@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0; /* remove default margin */
  padding: 0; /* remove default padding */
}

body {
  line-height: 1.5; /* Add accessible line-height */
  -webkit-font-smoothing: antialiased; /* Improve text rendering */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} /* avoid text overflow */

html,
body {
  height: 100%;
} /* Allow percentage-based heights in the application */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
} /* Improve media defaults */

input,
button,
textarea,
select {
  font: inherit;
} /* Remove built-in form typography styles */

#root,
#__next {
  isolation: isolate;
} /* Create a root stacking context */

:root {
  --ff-primary: "Open Sans", sans-serif;
  --ff-secondary: "Raleway", sans-serif;

  --bg-primary: hsl(218, 28%, 13%);
  --bg-secondery: hsl(218, 24%, 19%);
  --bg-email: hsl(217, 28%, 15%);
  --bg-testimonial: hsl(219, 30%, 18%);
  --bg-footer: hsl(216, 53%, 9%);
  --bg-button-hover: hsl(176, 68%, 64%);
  --bg-button: hsl(198, 60%, 50%);

  --clr-error: hsl(0, 100%, 63%);
}

body {
  font-family: var(--ff-primary);
  color: white;
  font-size: 0.875rem;
  position: relative;
}

main {
  display: grid;
  background-color: var(--bg-primary);
  font-family: var(--ff-secondary);
  padding-bottom: 16rem;
  padding-inline: 1rem;
  margin-inline: auto;
  position: relative;
}
.background {
  display: flex;
  justify-content: center;
  position: absolute;
  padding-top: 15rem;
  right: 0;
  left: 0;
  z-index: 100;
}
.background-clr {
  display: flex;
  position: absolute;
  background-color: var(--bg-secondery);
  justify-content: center;
  width: 100%;
  height: 23rem;
  z-index: 1;
  border-bottom-right-radius: 12rem;
}
.bg-desktop {
  display: none;
}
.intro-image {
  padding-block: 2rem;
  padding-right: 2rem;
}
.intro-image img {
  position: relative;
  z-index: 200;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  padding-top: 2rem;
  background-color: var(--bg-secondery);
}
header img {
  max-width: 5rem;
}

.navbar {
  display: flex;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0.5rem;
}
.title-section {
  display: grid;
  text-align: center;
  padding: 9rem 1rem;
  gap: 1rem;
  position: absolute;
  top: 10rem;
  z-index: 300;
}
.title-section h2 {
  max-width: 17rem;
  margin-inline: auto;
}
.title-section button {
  margin-inline: auto;
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  border: none;
  padding-inline: 5.125rem;
  padding-block: 0.85rem;
  font-weight: 700;
  color: white;
  border-radius: 2rem;
  margin-top: 1rem;
  cursor: pointer;
}
.title-section button:hover {
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(176, 68%, 64%)
  );
}

.features-section {
  display: grid;
  text-align: center;
  gap: 4rem;
  margin-top: 26rem;
  padding-inline: 1.5rem;
  margin-bottom: 10rem;
}
.features-row {
  display: grid;
  gap: 1rem;
}
.features-row img {
  margin-inline: auto;
  margin-bottom: 1rem;
}
.features-lower-col {
  display: grid;
  text-align: start;
  gap: 1rem;
}
.features-col-text {
  display: grid;
  gap: 1rem;
}
.features-upper-col {
  display: grid;
  gap: 6rem;
}
.features-sub-col {
  display: grid;
  gap: 6rem;
}
.fylo-link {
  display: flex;
  gap: 0.25rem;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  max-width: fit-content;
  padding-bottom: 0.25rem;
}
.fylo-link img {
  width: 1.125rem;
  height: 1.125rem;
}
.fylo-link a {
  text-decoration: none;
  color: var(--bg-button-hover);
}

.testimonial-section {
  display: grid;
  margin-inline: 2rem;
  gap: 2rem;
  font-size: 12px;
  position: relative;
}
.testimonial-section .profile-1,
.testimonial-section .profile-2,
.testimonial-section .profile-3 {
  display: grid;
  background-color: var(--bg-testimonial);
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  z-index: 10;
}
.user-info {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2.5rem 1fr;
  align-items: center;
}
.user-info img {
  border-radius: 50%;
  width: 90%;
}
.quote-icon {
  position: absolute;
  top: -1.85rem;
}
.quote-icon img {
  width: 2.5rem;
  height: 2.5rem;
}

.access-section {
  display: grid;
  background-color: var(--bg-testimonial);
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: -9.5rem;
  left: 0;
  right: 0;
  max-width: 21.5rem;
  margin-inline: auto;
}
.access-section h3 {
  margin-bottom: 1rem;
}
.access-input-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}
#validateText {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  color: var(--clr-error);
  left: 0;
  right: 0;
  bottom: 3rem;
  margin-inline: auto;
  opacity: 70%;
}
.access-section input {
  border-radius: 2rem;
  border: none;
  text-align: center;
  padding-block: 0.75rem;
  padding-left: 3rem;
  text-align: start;
  border: none;
}

.access-section button {
  border: none;
  border-radius: 2rem;
  padding-block: 0.75rem;
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  color: white;
  font-weight: 700;
}
.access-section button:hover {
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(176, 68%, 64%)
  );
}

footer {
  display: grid;
  gap: 2rem;
  background-color: var(--bg-footer);
  padding: 2.5rem;
  padding-top: 14rem;
}
.contact-section {
  display: grid;
  gap: 1rem;
  margin-bottom: 4rem;
}
.address,
.phone,
.email {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
}
.phone {
  margin-bottom: 1rem;
}
.footer-logo img {
  width: 8rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-links ul {
  list-style-type: none;
}
.footer-links li {
  margin-bottom: 0.5rem;
}
.footer-links a {
  text-decoration: none;
  color: white;
}
.social-links {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin-block: 1rem;
}
ion-icon {
  font-size: 1.125rem;
  margin: 0.45rem;
  cursor: pointer;
}
ion-icon:hover {
  color: var(--bg-button-hover);
}

@media (min-width: 24em) {
  .title-section {
    top: 15rem;
  }
}

@media (min-width: 40em) {
  .bg-desktop {
    display: block;
  }
  .bg-mobile {
    display: none;
  }
  .background {
    padding-top: 48rem;
    margin-inline: auto;
  }
  .background-clr {
    height: 68rem;
    border-radius: 0;
  }
  header {
    padding-top: 2.5rem;
    padding-inline: 3rem;
  }
  header img {
    max-width: 7.5rem;
  }
  .intro-image {
    margin-inline: auto;
  }
  .navbar li:hover {
    text-decoration: underline;
    font-weight: 700;
  }
  .features-upper-col {
    grid-template-columns: 1fr 1fr;
    max-width: 70rem;
    margin-inline: auto;
  }
  .features-row {
    max-width: 24rem;
  }
  .features-section {
    row-gap: 8rem;
    margin-top: 46rem;
  }
  .title-section {
    max-width: 50rem;
    gap: 2rem;
    font-size: 1.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    top: 36rem;
  }
  .title-section h2 {
    max-width: 46rem;
  }
  .features-lower-col {
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
    max-width: 70rem;
    gap: 2.5rem;
  }
  .features-col-text {
    max-height: 10rem;
    padding-top: 4rem;
  }
  .features-col-text h3 {
    font-size: 2.65rem;
  }
  .testimonial-section {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 80rem;
    margin-inline: auto;
  }
  .access-section {
    max-width: 45rem;
    padding: 2.75rem 3.5rem;
    bottom: -7.5rem;
  }
  #validateText {
    left: -25rem;
    bottom: -1.5rem;
  }
  .access-input-section {
    display: grid;
    grid-template-columns: 24rem auto;
  }
  footer {
    padding-inline: 7.5rem;
    padding-bottom: 5.5rem;
  }
  .footer {
    display: grid;
    grid-template-columns: 50% 25% 25%;
  }
  .contact-section {
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }
  .footer-links {
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-links li:hover {
    font-weight: 700;
  }
  ion-icon {
    font-size: 2rem;
    margin-right: 1rem;
  }
}
